* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

.hero-text {
  background-color: #1e2b3a;
  color: white;
  padding: 0px 150px 100px 150px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}

#header-logo {
  font-size: 18px;
}

.links {
  display: flex;
  gap: 24px;
  font-size: 14px;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: white;
}

.hero-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  gap: 48px;
}

.hero-body-text {
  max-width: 400px;
}

#hero-body-title {
  font-size: 36px;
  margin-bottom: -8px;
}

#hero-image {
  max-height: 200px;
}

#header-sign-up {
  background-color: #0096ff;
  padding: 4px 18px;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: 600;
}

.random {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 0px 64px 0px;
}

#random-title {
  font-size: 24px;
  padding: 8px 0px;
}

.images-and-texts {
  display: flex;
  gap: 48px;
}

.image-and-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 100px;
  font-size: 11px;
  color: #636363;
}

.random-image {
  max-height: 100px;
  border-style: solid;
  border-color: #0096ff;
  border-width: 3px;
  border-radius: 8px;
}

.quote {
  background-color: #d3d3d3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0px 64px 0px;
}

#quote-text {
  font-size: 24px;
  font-weight: 100;
  color: #3b3b3b;
  max-width: 550px;
}

#quote-author {
  margin: -18px 0px 0px 300px;
  font-size: 18px;
  text-align: right;
}

.sign-up {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #0096ff;
  margin: 64px 200px;
  border-radius: 8px;
  color: white;
  padding: 14px 24px 18px 24px;
}

#sign-up-title {
  font-size: 18px;
}

#sign-up-body {
  margin-top: -18px;
  font-size: 14px;
  font-weight: 100;
}

#sign-up-button {
  background-color: #0096ff;
  padding: 4px 18px;
  border-style: solid;
  border-color: white;
  border-radius: 4px;
  color: white;
  font-weight: 600;
}

.footer {
  background-color: #1e2b3a;
  color: white;
  padding: 24px;
  text-align: center;
  font-weight: 100;
  font-size: 12px;
}